[user]
    email = Michael Fanariotis 
    name = fanmih@gmail.com 
	signingkey = B0B1C15BFBE06901
[core]
  editor = lvim
;[difftool "sourcetree"]
;	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
;	path = 
;[mergetool "sourcetree"]
;	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
;	trustExitCode = true
[commit]
    gpgSign = true
[github]
	user = fanmih
[init]
	defaultBranch = master
;[url "git@github.com:"]
;	insteadOf = https://github.com/
